@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

body,
html {
  background-color: #f8f8f8;
}
body,
html,
.full-height {
  min-height: 100vh;
}

.main {
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

#sidebar {
  // background: #f00;
  max-width: 330px;
  // max-width: 380px;
}
#page-content {
  // background: #bada55;
}

.scrollarea {
  overflow-y: auto;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 85%;
}

.outline-focus-none:focus {
  outline: none;
}

.rounded-pill {
  &-start {
    border-top-left-radius: var(--bs-border-radius-pill) !important;
    border-bottom-left-radius: var(--bs-border-radius-pill) !important;
  }
  &-end {
    border-top-right-radius: var(--bs-border-radius-pill) !important;
    border-bottom-right-radius: var(--bs-border-radius-pill) !important;
  }
}
