@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

// $enable-negative-margins: true;

body,
html {
  background-color: #f8f8f8;
}
body,
html,
.full-height {
  min-height: 100vh;
}

.main {
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

#sidebar {
  @media (min-width: 768px) {
    max-width: 330px;
  }
  // max-width: 380px;
}

@media screen and (max-width: 767px) {
  .main > div {
    /* min-width: 0; */
    flex-grow: 1;
    transition: width 0.5s;
  }

  #sidebar {
    width: 0;
    /* overflow-x: hidden; */
  }
  #sidebar.open {
    width: 100%;
  }
  #sidebar.open + #page-content {
    width: 0;
  }

  #page-content {
    width: 100%;
    /* overflow-x: hidden; */
  }

  #note_wrapper,
  #sidebar_wrapper {
    width: 100vw;
  }
}

.scrollarea {
  overflow-y: auto;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 85%;
}

.outline-focus-none:focus {
  outline: none;
}

.rounded-pill {
  &-start {
    border-top-left-radius: var(--bs-border-radius-pill) !important;
    border-bottom-left-radius: var(--bs-border-radius-pill) !important;
  }
  &-end {
    border-top-right-radius: var(--bs-border-radius-pill) !important;
    border-bottom-right-radius: var(--bs-border-radius-pill) !important;
  }
}

#dropdown-sort-notes.dropdown-toggle::after {
  content: none;
}

// .line-clamp-2 {
//   display: -webkit-box;
//   -webkit-box-orient: vertical;
//   overflow: hidden;
//   -webkit-line-clamp: 2;
//   &-sm {
//     @media (min-width: 768px) {
//       display: -webkit-box;
//       -webkit-line-clamp: 2;
//       -webkit-box-orient: vertical;
//       overflow: hidden;
//     }
//   }
// }

@mixin line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

$line-clamps: 4;

@mixin line-clamp-x {
  @for $i from 1 through $line-clamps {
    .line-clamp- {
      &#{$i} {
        @include line-clamp;
        -webkit-line-clamp: #{$i};
      }
      &sm- {
        &#{$i} {
          @include media-breakpoint-up(sm) {
            @include line-clamp;
            -webkit-line-clamp: #{$i};
          }
        }
      }
      &md- {
        &#{$i} {
          @include media-breakpoint-up(md) {
            @include line-clamp;
            -webkit-line-clamp: #{$i};
          }
        }
      }
      &lg- {
        &#{$i} {
          @include media-breakpoint-up(lg) {
            @include line-clamp;
            -webkit-line-clamp: #{$i};
          }
        }
      }
    }
  }
}
@include line-clamp-x;
