.outline-focus-none:focus {
  outline: none;
}

.scrollarea {
  overflow-y: auto;
}

.rounded-pill {
  &-start {
    border-top-left-radius: var(--bs-border-radius-pill) !important;
    border-bottom-left-radius: var(--bs-border-radius-pill) !important;
  }
  &-end {
    border-top-right-radius: var(--bs-border-radius-pill) !important;
    border-bottom-right-radius: var(--bs-border-radius-pill) !important;
  }
}

// .line-clamp-2 {
//   display: -webkit-box;
//   -webkit-box-orient: vertical;
//   overflow: hidden;
//   -webkit-line-clamp: 2;
//   &-sm {
//     @media (min-width: 768px) {
//       display: -webkit-box;
//       -webkit-line-clamp: 2;
//       -webkit-box-orient: vertical;
//       overflow: hidden;
//     }
//   }
// }

@mixin line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

$line-clamps: 4;

@mixin line-clamp-x {
  @for $i from 1 through $line-clamps {
    .line-clamp- {
      &#{$i} {
        @include line-clamp;
        -webkit-line-clamp: #{$i};
      }
      &sm- {
        &#{$i} {
          @include media-breakpoint-up(sm) {
            @include line-clamp;
            -webkit-line-clamp: #{$i};
          }
        }
      }
      &md- {
        &#{$i} {
          @include media-breakpoint-up(md) {
            @include line-clamp;
            -webkit-line-clamp: #{$i};
          }
        }
      }
      &lg- {
        &#{$i} {
          @include media-breakpoint-up(lg) {
            @include line-clamp;
            -webkit-line-clamp: #{$i};
          }
        }
      }
    }
  }
}
@include line-clamp-x;
