@import "./bootstrap_custom";

@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./utils";
// $enable-negative-margins: true;

body,
html {
  background-color: #f8f8f8;
}
body,
html,
.full-height {
  min-height: 100vh;
}

.main {
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

#sidebar {
  @include media-breakpoint-up(lg) {
    max-width: 330px;
  }
  // max-width: 380px;
}

@include media-breakpoint-down(lg) {
  .main > div {
    transition: width 0.35s;
  }

  #sidebar {
    width: 0;
  }
  #sidebar.open {
    width: 100%;
  }
  #sidebar.open + #page-content {
    width: 0;
  }

  #page-content {
    width: 100%;
  }

  #note_wrapper,
  #sidebar_wrapper,
  #dashboardIndex {
    width: 100vw;
  }
}

#note_wrapper {
  height: 100vh;
}

//block Editor Tunes
.ce-block__content,
.ce-toolbar__content {
  max-width: 85%;
}

#dropdown-sort-notes.dropdown-toggle::after {
  content: none;
}
